.DS_Store

# Prerequisites
*.d

# Jetbrains files
.idea/

# Visual Studio files
*.opendb
*.VC.db
*.vcxproj.user
.vs/
.vscode/
enc_temp_folder/

# Engine files
__pycache__/
Build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
./CMakeCache.txt
/Settings/User.*.json

# Generated reflection data
*.generated.cpp

# Deprecated files
*-[dD]eprecated/
*-[dD]eprecated.*

!/tstfile